*{
    font-family: 'Oswald', sans-serif;
   
    ;
}



body{
    background-color: beige;
    border top: 10px;
    padding: 10px;
    margin: 10px;
    
}




nav ul li{
    font-size: larger;
    text-align: center;
    list-style-type: armenian;
    list-style-position: initial;
    text-transform: uppercase;
}



footer {
    text-align: center;
    text-transform: lowercase;
    list-style-position: initial;
    list-style-type: georgian;
    text-transform: uppercase;