*{
    font-family: 'Oswald', sans-serif;
    margin:5px;
    padding: 10px;
    border: 10px;
    ;
}



body{
    background-color: darkolivegreen;
}




nav ul li{
    font-size: larger;
    text-align: center;
    list-style-type: armenian;
    list-style-position: initial;
    text-transform: uppercase;
}



footer {
    text-align: center;
    text-transform: lowercase;
    list-style-position: initial;
    list-style-type: georgian;
    text-transform: uppercase;
}